<div class="tutorial">

    <!-- Step 1 -->
    <h2>1: Introduksjon</h2>
    <p>I denne brukermanualen skal jeg vise deg hvordan du kan hoste din egen
        nettside ved hjelp av GitHub pages.
        Turorialen tar i utgangspunkt at du allerede har en bruker på GitHub og
        vet hvordan du laster opp prosjektene dine.
        Om du ikke har kommet så langt kan du følge denne brukerveilegningen:
        <a href="https://product.hubspot.com/blog/git-and-github-tutorial-for-beginners">
            GitHub for beginners</a>.
    </p>

    <!-- Step 2 -->
    <h2>2: Finn frem prosjektet</h2>
    <p>For å hoste nettsiden din med GitHub pages trenger du en repository.
        Den må inneholde en <span class="code">index.html</span> ellers må du
        manuelt navigere til hvilken html du bruker. Før du kan gå videre må du
        pushe koden din til repository-en din.
    </p>
    <img class="image" src="src/githubRep.png" alt="Github repository">

    <!-- Step 3 -->
    <h2>3: Finn GitHub pages</h2>
    <p>Trykk på <span class="code">Settings</span> knappen, og deretter naviger ned til <span class="code">Pages</span>.
    </p>
    <img class="image" src="src/githubSettings.png" alt="Github reposittory settings">
    <br><br>
    <img class="image" src="src/githubPages.png" alt="Github pages button">

    <!-- step 4 -->
    <h2>4: Last opp nettsiden din</h2>
    <p>Trykk på knappen <span class="code">None</span> under Source.</p>
    <p>Deretter velger du branchen du har lastet opp prosjektet ditt på. I dette tilfelle er det <span
            class="code">master</span></p>
    <img class="image" src="src/selectBranch.png" alt="Select github branch">

    <!-- step 5 -->
    <h2>5: Åpne nettsiden din</h2>
    <p>Det kan ta litt tid før linken fungerer, du vet den er aktiv når boksen rundt blir grønn.
        Besøk nå nettsiden på URL-en som nylig ble generert av GitHub.
        Kos deg med din nye nettside!
    </p>
    <img class="image" src="src/githubPagesLink.png" alt="Github pages link">
</div>