<%- include("partials/header") %>
    <header class="color-contact">
        <%- include("partials/navbar") %>
            <section>
                <div id="container">
                    <h1 class="title">Kontakt meg</h1>
                </div>
            </section>
    </header>
    <section>
        <div class="container marketing">
            <!-- Contact info -->
            <div class="row">
                <div class="col-lg-4">
                    <img src="/src/email.png" alt="Email" width="140" height="140">
                    <h2>Mail</h2>
                    <a href="mailto: amyb@viken.no"> Send feedback</a>
                </div>

                <div class="col-lg-4">
                    <img src="/src/github.png" alt="GitHub" width="140" height="140">
                    <h2>GitHub</h2>
                    <a alt="GitHub link" href="https://github.com/amiiika" target="_blank">Amiiika</a>
                </div>

                <div class="col-lg-4">
                    <img src="/src/pin.png" alt="Adress" width="140" height="140">
                    <h2>Addresse</h2>
                    <a href="https://www.google.com/maps/place/Brages+vei+1,+1387+Asker/@59.8267397,10.4429477,17z/data=!3m1!4b1!4m5!3m4!1s0x464115a48c3af835:0xd78de50ccab6cc25!8m2!3d59.8267397!4d10.4451364"
                        target="_blank">
                        Brages vei 1, 1387 Asker</a>
                </div>

            </div><!-- /.row -->
    </section>

    <%- include("partials/footer") %>