<%- include("partials/header") %>
    <header class="color-github">
        <%- include("partials/navbar") %>
            <section>
                <div id="container">
                    <h1 class="title">Hosting med GitHub</h1>
                </div>
            </section>
    </header>
    <section>
        <h2>Hvorfor hoste nettsiden din?</h2>
        <p>Etter at du har bruk lang tid på å skape en nettside,
            så er det ingen som får muligheten til å se den.
            Derfor kan du hoste nettsiden din på nettet så alle som har linken
            kan se det flotte mesterverket ditt.
            Og alt med hjelp av GitHub eller Heroku!
            Dilemmaet kommer når du skal velge hva du skal bruke
            for å hoste siden din.
        </p>
        <h2>Fordeler med GitHub</h2>
        <h2>Ulemper med GitHub</h2>
    </section>

    <%- include("partials/footer") %>