<%- include("partials/header") %>
    <header class="color-heroku">
        <%- include("partials/navbar") %>

            <section>
                <div id="container">
                    <h1 class="title">Hosting med Heroku</h1>
                </div>
            </section>
    </header>
    <section>
    <div class="tutorial">
        <h2>Hvorfor hoste nettsiden din?</h2>
        <p>Om du bruker lang tid på å skape og lage en nettside, er det trist om
            ingen får mulighten til å se den.
            Derfor kan du hoste nettsiden din på nettet slik at alle med en link
            kan se det flotte mesterverket ditt.
            Og alt med hjelp av Heroku eller GitHub!
            Dilemmaet kommer når du skal velge hva du skal bruke
            for å hoste siden din.
        </p>
        <h2>Heroku vs. GitHub</h2>
        <p>Største forksjellen mellom kompaniene er
            at GitHub Pages bli klassifisert som "Static Web Hosting"
            og Heroku som "Platform as a service" - verktøy.
            <br><br>
        </p>
        
        <img class="image2" src="src/heroku.svg" alt="Heroku Logo">
        <p>
            <br>
            Heroku er beskrevet som "Bygg, lever, overvåk og skaler
            nettapper og APIer med en banebrytende utvikleropplevelse".
            Heroku er en skyapplikasjonsplattform og lar apputviklere
            bruke 100 % av tiden sin på applikasjonskoden sin, ikke administrere servere, distribusjon, pågående
            operasjoner eller skalering.
        </p>
        <img class="image2" src="src/github.jpeg" alt="Github Pages Logo">
        <p>
            Github Pages gir muligheten til offentlige nettsider
            som er fritt hosted og enkelt publisert. Siden nettsiden blir
            hosted direkte fra repository-en din.
        
        </p>
        <h2>Fordeler</h2>
        <p>Fordelene med Heroku er:</p>
        <ol>
            <li>Gratis for sideprosjekter</li>
            <li>Stor tidsbesparelse</li>
            <li>Nybegynnervennlig</li>
            <li>Enkel å skalere</li>
            <li>Flotte plugins og tredjepartsstøtte</li>
            <li>Sikkerheten</li>
        </ol>
        
        <h2>Ulemper</h2>
        <p>Ulempermed Heroku er:</p>
        <ol>
            <li>Prisen er dyr</li>
            <li>Ikke mye fleksibilitet</li>
            <li>Begrensede regioner</li>
            <li>Gir ikke statiske IP-adresser</li>
        </ol>
        
        </div>
    </section>

    <%- include("partials/footer") %>