<%- include("partials/header") %>
    <!-- video container -->
    <header class="color-github">
        <%- include("partials/navbar") %>
            <section>
                <div id="container">
                    <div>
                        <div id="mainContent">
                            <h1 class="title">Hvordan hoste en nettside med GitHub</h1>
                            <p>Video kommer</p>

                        </div>
                        <div class="hidden" id="secondaryContent">
                            <h1 class="title">Hvordan hoste en nettside med Heroku</h1>
                            <p>video kommer</p>
                        </div>
                    </div>

                    <div id="slider">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
            </section>
    </header>
    <section>
        <div id="mainText">
            <%- include("partials/heroku") %>

        </div>
        <div class="hidden" id="secondaryText">
        </div>
    </section>


    <%- include("partials/footer") %>